
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.play-regular {
  font-family: "Play", serif;
  font-weight: 400;
  font-style: normal;
}
  
.dp-purple{
  background-color: #e6ccff;
}
.dp-light-purple{
  background-color: #f0e0ff;
}

.dp-orange{
background-color: #fcddbf;
}
.dp-light-orange{
  background-color: #f8e6d4;
  }
  
.dp-blue{
  background-color: #b3ccff;
}
.dp-light-blue{
  background-color: #dfe9ff;
}

.dp-pink{
  background-color: #ffccff;
}
.dp-light-pink{
  background-color: #fce5fc;
}

.dp-round{
  border-radius: 10px;
}

h1 {
    font-family: "Lobster", sans-serif;
    font-size: 60px;
    text-align: center;
  }
  h2 {
    font-family: "Lobster", sans-serif;
    font-size: 40px;
    text-align: center;
  }
  h3 {
    font-family: "Lobster", sans-serif;
    font-size: 40px;
    text-align: center;
  }
  h4 {
    font-family: "Lobster", sans-serif;
    font-size: 40px;
    text-align: center;
  }
  h5 {
    font-family: "Lobster", sans-serif;
    font-size: 40px;
    text-align: center;
  }
  h6 {
    font-family: "Lobster", sans-serif;
    font-size: 40px;
    text-align: center;
  }
  p,
  li {
    font-family: "Play", serif;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  html {
    background-color: #EEEBF3;
  }
  body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
 